---

dm_packages:
  - name: dm
    version: {{ dm_version }}
    url: http://download.pingcap.org/dm-{{ dm_version }}-linux-amd64.tar.gz

monitoring_packages:
  - name: prometheus
    version: 2.2.1
    url: "http://download.pingcap.org/prometheus-2.2.1.linux-amd64.tar.gz"
  - name: alertmanager
    version: 0.14.0
    url: "http://download.pingcap.org/alertmanager-0.14.0.linux-amd64.tar.gz"
  - name: grafana
    version: 4.6.3
    url: "http://download.pingcap.org/grafana-4.6.3.linux-x64.tar.gz"
