bin
*/*.iml
.DS_Store
.idea/
*/.idea
.vscode/
deps.sh
syncer.meta
dumped_data/*
dm-worker.log*
dm-master.log*
dmctl.log
relay_log/*
vendor
*/*.DS_Store
tidb-slow.log
/monitoring/dashboards/*.json
/monitoring/rules/dm_worker.rules.yml
mysql.*.log
.python-version
