apiVersion: v1
kind: Service
metadata:
  namespace: default
  name: mysql
  labels:
    app: mysql
spec:
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
  selector:
    app: mysql
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: default
  name: mysql
  labels:
    app: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  serviceName: mysql
  replicas: 1 # 2 MySQL instances
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:5.7
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: "/var/lib/mysql"
              name: mysql
          env:
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "true"
          ports:
            - containerPort: 3306
              name: mysql
          args:
            - "--server-id=1"
            - "--log-bin=/var/lib/mysql/mysql-bin"
            - "--enforce-gtid-consistency=ON"
            - "--gtid-mode=ON"
  volumeClaimTemplates:
    - metadata:
        name: mysql
      spec:
        accessModes:
        - ReadWriteOnce
        storageClassName: standard # standard, rancher.io/local-path
        resources:
          requests:
            storage: 1Gi
