# Worker Configuration.

server-id = {{ server_id }}
source-id = "{{ source_id }}"
flavor = "{{ flavor }}"
enable-gtid = {{ enable_gtid }}
relay-binlog-name = "{{ relay_binlog_name }}"
relay-binlog-gtid = "{{ relay_binlog_gtid }}"
#charset of DSN of source mysql/mariadb instance
charset = ""
meta-dir = ""

[from]
host = "{{ mysql_host }}"
user = "{{ mysql_user }}"
password = "{{ mysql_password }}"
port = {{ mysql_port }}

#relay log purge strategy
[purge]
interval = 3600
expires = 0
remain-space = 15

#task status checker
[checker]
check-enable = true
check-interval = 5s
backoff-rollback = 5m
backoff-min = 1s
backoff-max = 5m
backoff-jitter = true
backoff-factor = 2
