name: Build & Lint

on:
  push:
    branches:
    - master
    - release-2.0
  pull_request:
    branches:
    - master
    - release-2.0

jobs:

  make_build:
    name: Make Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        runtime: [ linux, linux-arm, macOS ]
        include:
        - runtime: linux-x64
          os: ubuntu-latest
          arch:

        - runtime: linux-arm
          os: ubuntu-latest
          arch: armv7

        - runtime: macOS
          os: macOS-latest
          arch:

    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v2
      with:
        go-version: 1.13

    - name: Check out code
      uses: actions/checkout@v2

    - uses: uraimo/run-on-arch-action@v2
      if: ${{ matrix.arch != '' }}
      name: Run on ${{ matrix.arch }}
      id: build
      with:
        arch: ${{ matrix.arch }}
        distro: ${{ matrix.os }}

        # Not required, but speeds up builds
        githubToken: ${{ github.token }}

        run: |
          uname -a
          echo ::set-output name=uname::$(uname -a)

    - name: Cache go modules
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ matrix.os }}-dm-${{ hashFiles('**/go.sum') }}

    - name: Cache tools
      uses: actions/cache@v2
      with:
        path: |
          **/tools
        key: ${{ matrix.os }}-dm-tools-${{ hashFiles('**/tools/go.sum') }}

    - name: Build
      run: make build nolint=true

  lint:
    name: Lint
    runs-on: ubuntu-18.04
    steps:

      - name: Check out code
        uses: actions/checkout@v2

      - name: GolangCI Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          args: --config .golangci.yml --timeout 10m0s --skip-dirs ^_tool/
